In [2]:
import pandas as pd
import numpy as np
import requests

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.support.select import Select

from scrapy.selector import Selector

from selenium import webdriver 
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import time
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

from selenium.webdriver.support.ui import WebDriverWait

In [3]:
import re

import spacy
import es_core_news_sm

import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords

from wordcloud import WordCloud
from langdetect import detect
from textblob import TextBlob

#nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\mayar\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [42]:
def scraping_imdb_reviews(url):

    path = r"C:\Users\mayar\OneDrive\Área de Trabalho\chromedriver.exe"

    s = Service(path) #tell selenium to use Chrome and find the webdriver file in this location
    driver = webdriver.Chrome(service=s)  

    driver.get(url)


    #################################################################

    page = 1

    while page<50:  
        try:
            css_selector = 'load-more-trigger'
            driver.find_element(By.ID, css_selector).click()

            time.sleep(2)

            page+=1

        except:
            break

    #################################################################        

    rating_list = []
    review_date_list = []
    review_title_list = []
    author_list = []
    review_list = []
    review_url_list = []
    error_url_list = []
    error_msg_list = []

    reviews = driver.find_elements(By.CSS_SELECTOR, 'div.review-container')

    for d in tqdm(reviews):
        try:
            sel2 = Selector(text = d.get_attribute('innerHTML'))
            try:
                rating = sel2.css('.rating-other-user-rating span::text').extract_first()
            except:
                rating = np.NaN
            try:
                review = sel2.css('.text.show-more__control::text').extract_first()
            except:
                review = np.NaN
            try:
                review_date = sel2.css('.review-date::text').extract_first()
            except:
                review_date = np.NaN    
            try:
                author = sel2.css('.display-name-link a::text').extract_first()
            except:
                author = np.NaN    
            try:
                review_title = sel2.css('a.title::text').extract_first()
            except:
                review_title = np.NaN
            try:
                review_url = sel2.css('a.title::attr(href)').extract_first()
            except:
                review_url = np.NaN
                
            rating_list.append(rating)
            review_date_list.append(review_date)
            review_title_list.append(review_title)
            author_list.append(author)
            review_list.append(review)
            review_url_list.append(review_url)
            
        except Exception as e:
            error_url_list.append(url)
            error_msg_list.append(e)

    review_df = pd.DataFrame({
        'Review_Date':review_date_list,
        'Author':author_list,
        'Rating':rating_list,
        'Review_Title':review_title_list,
        'Review':review_list,
        'Review_Url':review_url
        })

    review_df['Review_Date'] = pd.to_datetime(review_df['Review_Date'])

    review_df.sort_values(by = 'Review_Date', inplace=True)
    review_df.reset_index(inplace=True, drop=True)
    
    review_df['Review_Year'] = pd.DatetimeIndex(review_df['Review_Date']).year
    
    return review_df

In [17]:
reviews_before_sunrise = scraping_imdb_reviews('https://www.imdb.com/title/tt0112471/reviews/?ref_=tt_ql_urv')

100%|██████████| 597/597 [00:05<00:00, 101.79it/s]

In [45]:
reviews_before_sunset = scraping_imdb_reviews('https://www.imdb.com/title/tt0381681/reviews/?ref_=tt_ql_urv')

100%|██████████| 597/597 [00:06<00:00, 93.39it/s]

In [37]:
reviews_before_midnight = scraping_imdb_reviews('https://www.imdb.com/title/tt2209418/reviews?ref_=tt_sa_3')

100%|██████████| 366/366 [00:03<00:00, 95.05it/s]

In [46]:
def sentiment_analysis_reviews (reviews_df):
    
    sia = SentimentIntensityAnalyzer()
    
    positive = []
    negative = []
    neutral = []
    compound = []
    
    for row in reviews_df['Review']:

        try:
            positive.append(sia.polarity_scores(row)['pos'])
            negative.append(sia.polarity_scores(row)['neg'])
            neutral.append(sia.polarity_scores(row)['neu'])
            compound.append(sia.polarity_scores(row)['compound'])

        except:
            positive.append(np.nan)
            negative.append(np.nan)
            neutral.append(np.nan)
            compound.append(np.nan)

    reviews_df['positive sentiment'] = positive
    reviews_df['negative sentiment'] = negative
    reviews_df['neutral sentiment'] = neutral
    reviews_df['compound sentiment'] = compound
        
    return reviews_df

In [47]:
reviews_before_sunrise = sentiment_analysis_reviews(reviews_before_sunrise)

In [48]:
reviews_before_midnight = sentiment_analysis_reviews(reviews_before_midnight)
reviews_before_sunset = sentiment_analysis_reviews(reviews_before_sunset)

In [49]:
reviews_before_sunrise.sample()

,Review_Date,Author,Rating,Review_Title,Review,Review_Url,Review_Year,positive sentiment,negative sentiment,neutral sentiment,compound sentiment
261,2010-01-02,gharrett,1,"Seen it before, once is enough!\n",Having seen this movie once before I was excit...,/review/rw4555743/?ref_=tt_urv,2010,0.1,0.144,0.756,-0.8746

In [50]:
reviews_before_midnight.sample()

,Review_Date,Author,Rating,Review_Title,Review,Review_Url,Review_Year,positive sentiment,negative sentiment,neutral sentiment,compound sentiment
218,2014-07-29,laursene,3,Overpoweringly annoying people\n,"I liked the first two films in the series, but...",/review/rw4559770/?ref_=tt_urv,2014,0.393,0.028,0.579,0.9965

In [51]:
reviews_before_sunset.sample()

,Review_Date,Author,Rating,Review_Title,Review,Review_Url,Review_Year,positive sentiment,negative sentiment,neutral sentiment,compound sentiment
120,2004-11-15,ReevesBeckett,10,What a sequel should be.\n,Before Sunset is what a sequel should be. The ...,/review/rw1289570/?ref_=tt_urv,2004,0.141,0.012,0.847,0.9639

In [67]:
import sqlalchemy as alch
import os
from dotenv import load_dotenv

from getpass import getpass
import re

load_dotenv()

dbName = "Before_Trilogy2"
password=os.getenv("sql")


connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [ ]:
def insert_review (reviews_df):
    if check("review", row['Review']):
        return "It already exists"
    else:
        engine.execute(f"INSERT INTO reviews (review) VALUES ('{row['Review']}');")

In [76]:
def insertIronhacker (string1, string2):
    if check("reviews", string1):
        return "It already exists"
    else:
        engine.execute(f"INSERT INTO reviews (review, idmovie) VALUES ('{string1}', {string2});")

In [61]:
def check (table, string):
    
    if table == "reviews":
        query = list(engine.execute(f"SELECT review FROM reviews WHERE review = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False
        
    if table == "movie":
        query = list(engine.execute(f"SELECT name FROM movie WHERE name = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False


    #if table == "script":
     #   query = list(engine.execute(f"SELECT line FROM script WHERE line = '{string}';"))
      #  if len(query) > 0:
       #     return True
        #else:
         #   return False

In [77]:
insertIronhacker('aaa', 1)

OperationalError: (pymysql.err.OperationalError) (1364, "Field 'idauthor' doesn't have a default value")
[SQL: INSERT INTO reviews (review, idmovie) VALUES ('aaa', 1);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)